body{
    margin: 0%;
    background-color: #080012;
    font-family: 'ABeeZee';
    font-size: 22px;
}
p {
    margin: 0%;
    font-family: 'ABeeZee';
    font-size: 22px;
}
header{
    width: 100%;
    position: static;
    z-index: 2;
    background: #080012;
}
footer{
    width: 100%;
    position: static;
    bottom: 0;
    z-index: 2;
    padding-top: 10px;
    text-align: center;
    background: #080012;
}


/* ID */

#idCabeçalho{
    padding: 1rem;
}
#buttonsFaleConosco i{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 55px;
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
    background-color: #e5091438;
    border-radius: 5px;
    margin: 3px;
}
#divMeio1{
    background-image: url(../img/Fundo.jpg);
    background-repeat: none;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
#divMeio2{
    background-image: url(../img/Fundo.jpg);
    background-repeat: none;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
}

/* CLASSES */
.imgIcone{
    width: 187px;
    height: 50px;
}

.divMeio{
    background-image: url(../img/Fundo.jpg);
    background-repeat: none;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}
.pTexto{
    font-size: 200%;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: #fff;   
}
.pTexto2{
    margin: 16px;
    font-size: 100%;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: #fff; 
}
.pTextoCadastro{
    margin: 16px;
    font-size: 100%;
    font-weight: 100;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: #fff; 
}
.pJaTemConta{
    padding-top: 10px;
    color: #333;
    font-size: 16px;
}
.pJaTemConta a{
    color: #555;
    cursor: pointer;
}
.divLocalCadastro{
    text-align: center;
}
.divQuebra{
    width: 100%;
    height: 5px;
    background-color: #363636;
}

.pTexto3{
    font-size: 150%;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: #fff;   
}
.dadosCadastro{
    padding: 30px 68px 40px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    width: 450px;
}
.inputNormal{
    width: 300px;
    position: relative;
    background: #333;
    font-family: 'Helvetica Neue',Helvetica,Arial, sans-serif;
    font-size: 16px;
    direction: ltr;
    border-radius: 4px;
    border: 0px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 16px 20px;
    margin-bottom: 16px;
}
.inputErro{
    width: 300px;
    position: relative;
    background: #333;
    font-family: 'Helvetica Neue',Helvetica,Arial, sans-serif;
    font-size: 16px;
    direction: ltr;
    border-radius: 4px;
    border: 1px solid #c53535;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 16px 20px;
    margin-bottom: 16px;
}


/* Botões */
.buttonLogin{
    background-color: #e50914;
    font-family: 'ABeeZee';
    font-size: 1rem;
    color:#ffffff;
    border: none;
    border-radius: 3px ;
    padding: 7px 17px;
    font-size: 17px;
    cursor: pointer;
}
.buttonCadastro{
    background-color: #e50914;
    font-family: 'ABeeZee';
    color: #fff;
    margin: 10px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    font-weight: 600;
    cursor: pointer;
}
#buttonCADASTRAR{
    height: 50px;
    width: 300px;
}