#divFilmeGenero1{
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
    height: 300;
}
.pGeneroFilme{
    color: black;
    float: top;
}
.divFilmeCard{
    background-color: cornflowerblue;
    border: 5px;
    height: 200px;
    width: 356px;
    border-radius: 3px;
    margin: 10px;
    float: left;
}